In [1]:
import pandas as pd

In [2]:
# win probabilities outputted by W3_Predictions.py
submission = pd.read_csv('mydata/womens/original_probabilities.csv')
submission.head()

               ID      Pred  TeamID_x  TeamID_y  SeedDiff  Seed_x  Seed_y
0  2021_3104_3112  0.769516      3112      3104        -4       3       7
1  2021_3104_3116  0.541189      3116      3104        -3       4       7
2  2021_3104_3124  0.987117      3124      3104        -5       2       7
3  2021_3104_3163  0.992835      3163      3104        -6       1       7
4  2021_3104_3208  0.769516      3208      3104        -4       3       7

In [3]:
# function to set a min probability for the favorite based on the difference in seed
# used for 1 v 16, 2 v 15, 3 v 14, 4 v 13
def set_prob_to_k(row, k, diff):
    if (row['SeedDiff'] < diff) and (row['Pred'] < k):
        if diff == -10 and row['Seed_y'] < 14:
            return row['Pred']
        else:
            return k
    else:
        return row['Pred']
    
submission['Pred'] = submission.apply(set_prob_to_k, axis = 1, args = (.96, -8)) # 4 vs 13 set to minimum 96%
submission['Pred'] = submission.apply(set_prob_to_k, axis = 1, args = (1, -10)) # 3 v 14, 2 v 15 and 1 v 16 set to 100%

In [4]:
# Switches Pred to the (1 - Pred) if TeamID_x is not the lower ID as Pred needs to be the probability for the lower ID team
def switch_teams(row):
    idlist = row['ID'].split('_')
    prob = row['Pred']
    if row['TeamID_x'] != int(idlist[1]):
        row['Pred'] = 1 - prob
    row['TeamID_x'] = int(idlist[1])
    row['TeamID_y'] = int(idlist[2])
    return row

submission = submission.apply(switch_teams, axis = 1)

In [5]:
# File for names of teams
team_names = pd.read_csv('ncaaw-march-mania-2021/WTeams.csv')[['TeamID', 'TeamName']]
team_names.head()

   TeamID     TeamName
0    3101  Abilene Chr
1    3102    Air Force
2    3103        Akron
3    3104      Alabama
4    3105  Alabama A&M

In [6]:
# Seeds for 2021
seeds = pd.read_csv('ncaaw-march-mania-2021/WNCAATourneySeeds.csv').query('Season == 2021')[['TeamID', 'Seed']]
seeds.head()

      TeamID Seed
1408    3390  W01
1409    3257  W02
1410    3208  W03
1411    3116  W04
1412    3283  W05

In [7]:
# join names with seeds
team_names_seeds = pd.merge(team_names, seeds, on = 'TeamID')
team_names_seeds.head()

   TeamID  TeamName Seed
0    3104   Alabama  X07
1    3112   Arizona  Y03
2    3116  Arkansas  W04
3    3124    Baylor  Z02
4    3125   Belmont  Y12

In [8]:
# Tournament slots for 2021
slots = pd.read_csv('ncaaw-march-mania-2021/WNCAATourneySlots.csv')[['Slot', 'StrongSeed', 'WeakSeed']]
slots.head()

   Slot StrongSeed WeakSeed
0  R1W1        W01      W16
1  R1W2        W02      W15
2  R1W3        W03      W14
3  R1W4        W04      W13
4  R1W5        W05      W12

In [9]:
# join slots with names and seeds
team_slots = pd.merge(slots, team_names_seeds, left_on = ['StrongSeed'], right_on = ['Seed'])
team_slots = pd.merge(team_slots, team_names_seeds, left_on = ['WeakSeed'], right_on = ['Seed']).drop(columns = ['Slot', 'StrongSeed', 'WeakSeed', 'Seed_x', 'Seed_y'])
team_slots.head()

   TeamID_x   TeamName_x  TeamID_y   TeamName_y
0      3390     Stanford      3430  Utah Valley
1      3257   Louisville      3265       Marist
2      3208      Georgia      3180       Drexel
3      3116     Arkansas      3460    Wright St
4      3283  Missouri St      3413     UC Davis

In [10]:
# function to switch slots so the lower id is in first slot
def switch_slots(row):
    if row['TeamID_x'] > row['TeamID_y']:
        team_id = row['TeamID_x']
        name = row['TeamName_x']
        row['TeamID_x'] = row['TeamID_y']
        row['TeamID_y'] = team_id
        row['TeamName_x'] = row['TeamName_y']
        row['TeamName_y'] = name
    return row

team_slots = team_slots.apply(switch_slots, axis = 1)
team_slots.head()

   TeamID_x   TeamName_x  TeamID_y   TeamName_y
0      3390     Stanford      3430  Utah Valley
1      3257   Louisville      3265       Marist
2      3180       Drexel      3208      Georgia
3      3116     Arkansas      3460    Wright St
4      3283  Missouri St      3413     UC Davis

In [11]:
# merge submission with team slots to look at Round 1 probabilities
submission_r1 = pd.merge(submission, team_slots, on = ['TeamID_x', 'TeamID_y'])
submission_r1

,ID,Pred,TeamID_x,TeamID_y,SeedDiff,Seed_x,Seed_y,TeamName_x,TeamName_y
0,2021_3125_3211,0.151798,3125,3211,-7,5,12,Belmont,Gonzaga
1,2021_3133_3400,0.072379,3133,3400,-5,6,11,Bradley,Texas
2,2021_3140_3353,0.169489,3140,3353,-5,6,11,BYU,Rutgers
3,2021_3141_3234,0.125030,3141,3234,-7,5,12,C Michigan,Iowa
4,2021_3180_3208,0.000000,3180,3208,-11,3,14,Drexel,Georgia
5,2021_3195_3276,0.314285,3195,3276,-5,6,11,FL Gulf Coast,Michigan
6,2021_3199_3333,0.482404,3199,3333,-1,8,9,Florida St,Oregon St
7,2021_3210_3372,0.266021,3210,3372,7,12,5,Georgia Tech,SF Austin
8,2021_3163_3219,1.000000,3163,3219,-15,1,16,Connecticut,High Point
9,2021_3226_3246,0.040000,3226,3246,-9,4,13,Idaho St,Kentucky
10,2021_3124_3238,1.000000,3124,3238,-13,2,15,Baylor,Jackson St
11,2021_3250_3452,0.040000,3250,3452,-9,4,13,Lehigh,West Virginia
12,2021_3257_3265,1.000000,3257,3265,-13,2,15,Louisville,Marist
13,2021_3266_3439,0.350951,3266,3439,-3,7,10,Marquette,Virginia Tech
14,2021_3273_3376,0.000000,3273,3376,-15,1,16,Mercer,South Carolina
15,2021_3235_3277,0.570605,3235,3277,-3,7,10,Iowa St,Michigan St
16,2021_3268_3291,1.000000,3268,3291,-13,2,15,Maryland,Mt St Mary's
17,2021_3292_3397,0.000000,3292,3397,-11,3,14,MTSU,Tennessee
18,2021_3299_3301,0.000000,3299,3301,-15,1,16,NC A&T,NC State
19,2021_3104_3314,0.487270,3104,3314,-3,7,10,Alabama,North Carolina
20,2021_3355_3393,0.165902,3355,3393,-1,8,9,S Dakota St,Syracuse
21,2021_3332_3377,0.823987,3332,3377,-5,6,11,Oregon,South Dakota
22,2021_3112_3392,1.000000,3112,3392,-11,3,14,Arizona,Stony Brook
23,2021_3401_3407,1.000000,3401,3407,-13,2,15,Texas A&M,Troy
24,2021_3283_3413,0.847862,3283,3413,-7,5,12,Missouri St,UC Davis
25,2021_3321_3416,0.735983,3321,3416,-3,7,10,Northwestern,UCF
26,2021_3390_3430,1.000000,3390,3430,-15,1,16,Stanford,Utah Valley
27,2021_3231_3433,0.972243,3231,3433,-9,4,13,Indiana,VCU
28,2021_3329_3448,0.631494,3329,3448,-1,8,9,Oklahoma St,Wake Forest
29,2021_3378_3450,0.587115,3378,3450,-1,8,9,South Florida,Washington St
30,2021_3116_3460,0.960000,3116,3460,-9,4,13,Arkansas,Wright St
31,2021_3417_3461,1.000000,3417,3461,-11,3,14,UCLA,Wyoming

In [12]:
# Call this function for all heavy favorites to make sure they have high probabilities

# prints the predicted probabilties for all games involving the given team id
def print_games(team_id):
    preds = []
    opp_seeds = []
    
    for i in range(len(submission)):
        id_list = submission.loc[i, 'ID'].split('_')
        prob = submission.loc[i, 'Pred']
        id_x = int(id_list[1])
        id_y = int(id_list[2])
        if id_x == team_id:
            opp_seeds.append(seeds[seeds['TeamID'] == id_y].reset_index().loc[0, 'Seed'])
            preds.append(prob)
        elif team_id == id_y:
            opp_seeds.append(seeds[seeds['TeamID'] == id_x].reset_index().loc[0, 'Seed'])
            preds.append((1 - prob))
    
    return pd.DataFrame({'Pred': preds, 'OppSeed': opp_seeds}).sort_values('Pred')

In [13]:
# UConn
pd.set_option('display.max_rows', 64)
print_games(3163)

        Pred OppSeed
62  0.508450     W01
61  0.630470     Z02
56  0.809389     X02
58  0.858990     X01
57  0.951256     Y01
60  0.955602     X03
55  0.964407     W02
32  0.968081     W06
9   0.974107     W03
54  0.974107     Y03
59  0.976434     Y02
14  0.977040     Y04
34  0.978145     Y06
36  0.979674     X12
41  0.981940     Z03
42  0.987229     X06
30  0.987579     W07
38  0.987956     Y08
16  0.988825     Y07
11  0.989947     Y05
23  0.990224     Z06
15  0.990465     Z05
48  0.990549     Z07
1   0.990563     W04
31  0.990890     W08
18  0.992068     Z04
40  0.992114     Z08
33  0.992183     X08
50  0.992421     Y09
24  0.992477     Y10
0   0.992835     X07
29  0.993314     X10
10  0.993344     X05
8   0.993537     X09
37  0.993669     W11
51  0.994482     X04
49  0.995260     W09
21  0.995432     Z10
4   0.995912     Y11
7   0.995984     Z11
45  0.995990     W10
25  0.996008     W05
13  0.997082     Z13
2   0.998380     Y12
35  0.998601     Z09
5   0.998774     Z12
52  0.999079     W13
3   0.999098     X11
44  0.999366     W12
47  0.999394     Y13
19  0.999747     X13
26  1.000000     X15
6   1.000000     W14
27  1.000000     Z14
12  1.000000     Z16
53  1.000000     X14
22  1.000000     X16
20  1.000000     W15
46  1.000000     W16
17  1.000000     Z15
39  1.000000     Y14
28  1.000000     Y16
43  1.000000     Y15

In [14]:
# Stanford
print_games(3390)

        Pred OppSeed
62  0.491550     Z01
61  0.610648     Z02
56  0.796060     X02
58  0.848481     X01
57  0.947200     Y01
60  0.951890     X03
55  0.961401     W02
32  0.965375     W06
9   0.971896     W03
54  0.971896     Y03
59  0.974416     Y02
14  0.975073     Y04
34  0.976270     Y06
36  0.977928     X12
41  0.980384     Z03
42  0.986122     X06
30  0.986503     W07
38  0.986912     Y08
16  0.987855     Y07
11  0.989074     Y05
23  0.989374     Z06
15  0.989637     Z05
48  0.989727     Z07
1   0.989743     W04
31  0.990097     W08
18  0.991377     Z04
40  0.991427     Z08
33  0.991503     X08
50  0.991761     Y09
24  0.991821     Y10
0   0.992210     X07
29  0.992731     X10
10  0.992764     X05
8   0.992973     X09
37  0.993117     W11
51  0.994000     X04
49  0.994846     W09
21  0.995033     Z10
4   0.995554     Y11
7   0.995632     Z11
45  0.995639     W10
25  0.995659     W05
13  0.996827     Z13
2   0.998238     Y12
35  0.998478     Z09
5   0.998667     Z12
52  0.998998     W13
3   0.999019     X11
44  0.999310     W12
47  0.999341     Y13
19  0.999725     X13
26  1.000000     X15
6   1.000000     W14
27  1.000000     Z14
12  1.000000     Z16
53  1.000000     X14
22  1.000000     X16
20  1.000000     W15
46  1.000000     W16
17  1.000000     Z15
39  1.000000     Y14
28  1.000000     Y16
43  1.000000     Y15

In [15]:
# Baylor
print_games(3124)

        Pred OppSeed
61  0.369530     Z01
62  0.389352     W01
56  0.701328     X02
58  0.771097     X01
57  0.915195     Y01
60  0.922495     X03
55  0.937436     W02
32  0.943732     W06
9   0.954136     W03
54  0.954136     Y03
59  0.958180     Y02
14  0.959237     Y04
34  0.961164     Y06
36  0.963837     X12
41  0.967811     Z03
42  0.977141     X06
30  0.977762     W07
38  0.978430     Y08
16  0.979972     Y07
11  0.981967     Y05
23  0.982460     Z06
15  0.982890     Z05
48  0.983038     Z07
1   0.983064     W04
31  0.983646     W08
18  0.985748     Z04
40  0.985830     Z08
33  0.985954     X08
50  0.986379     Y09
24  0.986478     Y10
0   0.987117     X07
29  0.987974     X10
10  0.988028     X05
8   0.988374     X09
37  0.988610     W11
51  0.990066     X04
49  0.991462     W09
21  0.991770     Z10
4   0.992631     Y11
7   0.992760     Z11
45  0.992771     W10
25  0.992804     W05
13  0.994736     Z13
2   0.997074     Y12
35  0.997473     Z09
5   0.997785     Z12
52  0.998336     W13
3   0.998370     X11
44  0.998853     W12
47  0.998905     Y13
19  0.999542     X13
26  1.000000     X15
6   1.000000     W14
27  1.000000     Z14
12  1.000000     Z16
53  1.000000     X14
22  1.000000     X16
20  1.000000     W15
46  1.000000     W16
17  1.000000     Z15
39  1.000000     Y14
28  1.000000     Y16
43  1.000000     Y15

In [16]:
# South Carolina
print_games(3376)

        Pred OppSeed
58  0.141010     Z01
60  0.151519     W01
57  0.228903     Z02
59  0.427666     X02
56  0.748729     Y01
62  0.766706     X03
55  0.805340     W02
32  0.822412     W06
9   0.851723     W03
54  0.851723     Y03
61  0.863507     Y02
14  0.866621     Y04
34  0.872345     Y06
41  0.892493     Z03
42  0.921893     X06
30  0.923899     W07
38  0.926061     Y08
16  0.931084     Y07
11  0.937639     Y05
23  0.939267     Z06
15  0.940693     Z05
48  0.941185     Z07
1   0.941272     W04
31  0.943206     W08
18  0.950242     Z04
40  0.950517     Z08
33  0.950935     X08
50  0.952368     Y09
0   0.954866     X07
10  0.957962     X05
8   0.959138     X09
37  0.960000     W11
36  0.960000     X12
24  0.960000     Y10
29  0.960000     X10
51  0.964935     X04
49  0.969755     W09
21  0.970824     Z10
4   0.973818     Y11
7   0.974269     Z11
45  0.974306     W10
25  0.974421     W05
13  0.981196     Z13
2   0.989484     Y12
35  0.990909     Z09
5   0.992025     Z12
52  0.994000     W13
3   0.994123     X11
44  0.995860     W12
47  0.996045     Y13
19  0.998345     X13
20  1.000000     W15
6   1.000000     W14
27  1.000000     Z14
26  1.000000     X15
46  1.000000     W16
22  1.000000     X16
12  1.000000     Z16
28  1.000000     Y16
39  1.000000     Y14
17  1.000000     Z15
53  1.000000     X14
43  1.000000     Y15

In [17]:
# Maryland
print_games(3268)

        Pred OppSeed
57  0.190611     Z01
58  0.203940     W01
56  0.298672     Z02
60  0.572334     X01
59  0.810866     Y01
62  0.825434     X03
55  0.856167     W02
32  0.869504     W06
9   0.892062     W03
54  0.892062     Y03
61  0.901013     Y02
14  0.903367     Y04
34  0.907682     Y06
41  0.922747     Z03
42  0.944388     X06
30  0.945851     W07
38  0.947425     Y08
16  0.951073     Y07
11  0.955817     Y05
23  0.956993     Z06
15  0.958021     Z05
48  0.958376     Z07
1   0.958438     W04
31  0.959831     W08
36  0.960000     X12
18  0.964884     Z04
40  0.965081     Z08
33  0.965380     X08
50  0.966407     Y09
24  0.966646     Y10
0   0.968193     X07
29  0.970271     X10
10  0.970403     X05
8   0.971242     X09
37  0.971815     W11
51  0.975365     X04
49  0.978783     W09
21  0.979540     Z10
4   0.981656     Y11
7   0.981974     Z11
45  0.982001     W10
25  0.982082     W05
13  0.986855     Z13
2   0.992667     Y12
35  0.993664     Z09
5   0.994444     Z12
52  0.995822     W13
3   0.995908     X11
44  0.997119     W12
47  0.997248     Y13
19  0.998849     X13
6   1.000000     W14
20  1.000000     W15
46  1.000000     W16
22  1.000000     X16
12  1.000000     Z16
26  1.000000     X15
39  1.000000     Y14
17  1.000000     Z15
27  1.000000     Z14
28  1.000000     Y16
53  1.000000     X14
43  1.000000     Y15

In [18]:
# NC State
print_games(3301)

        Pred OppSeed
57  0.048744     Z01
60  0.052800     W01
56  0.084805     Z02
58  0.189134     X02
59  0.251271     X01
62  0.502769     X03
55  0.560029     W02
32  0.587598     W06
9   0.638636     W03
54  0.638636     Y03
61  0.660607     Y02
14  0.666563     Y04
34  0.677678     Y06
41  0.718642     Z03
42  0.784082     X06
30  0.788816     W07
38  0.793961     Y08
16  0.806079     Y07
11  0.822255     Y05
23  0.826338     Z06
15  0.829934     Z05
48  0.831181     Z07
1   0.831400     W04
31  0.836323     W08
18  0.854559     Z04
40  0.855283     Z08
33  0.856383     X08
50  0.860173     Y09
0   0.866829     X07
10  0.875175     X05
8   0.878373     X09
51  0.894366     X04
49  0.907959     W09
25  0.921386     W05
4   0.960000     Y11
7   0.960000     Z11
45  0.960000     W10
13  0.960000     Z13
24  0.960000     Y10
21  0.960000     Z10
37  0.960000     W11
36  0.960000     X12
29  0.960000     X10
2   0.966610     Y12
35  0.971045     Z09
5   0.974537     Z12
52  0.980760     W13
3   0.981149     X11
44  0.986667     W12
47  0.987259     Y13
19  0.994639     X13
26  1.000000     X15
6   1.000000     W14
27  1.000000     Z14
39  1.000000     Y14
53  1.000000     X14
17  1.000000     Z15
20  1.000000     W15
46  1.000000     W16
22  1.000000     X16
12  1.000000     Z16
28  1.000000     Y16
43  1.000000     Y15

In [19]:
# UCLA
print_games(3417)

        Pred OppSeed
58  0.044398     Z01
62  0.048110     W01
57  0.077505     Z02
59  0.174566     X02
61  0.233294     X01
60  0.497231     Y01
55  0.534685     W02
32  0.562602     W06
9   0.614704     W03
54  0.614704     Y03
56  0.637304     Y02
14  0.643448     Y04
34  0.654935     Y06
41  0.697499     Z03
42  0.766257     X06
30  0.771269     W07
38  0.776719     Y08
16  0.789582     Y07
11  0.806805     Y05
23  0.811161     Z06
15  0.815002     Z05
48  0.816334     Z07
1   0.816567     W04
31  0.821831     W08
18  0.841375     Z04
40  0.842153     Z08
33  0.843334     X08
50  0.847407     Y09
24  0.848362     Y10
0   0.854568     X07
29  0.863021     X10
10  0.863561     X05
8   0.867012     X09
37  0.869385     W11
51  0.884302     X04
49  0.899044     W09
21  0.902362     Z10
4   0.911743     Y11
7   0.913166     Z11
45  0.913286     W10
25  0.913648     W05
13  0.960000     Z13
36  0.960000     X12
2   0.963145     Y12
35  0.968025     Z09
5   0.971871     Z12
52  0.978731     W13
3   0.979160     X11
44  0.985252     W12
47  0.985906     Y13
19  0.994065     X13
53  1.000000     X14
6   1.000000     W14
46  1.000000     W16
12  1.000000     Z16
26  1.000000     X15
39  1.000000     Y14
17  1.000000     Z15
27  1.000000     Z14
28  1.000000     Y16
20  1.000000     W15
22  1.000000     X16
43  1.000000     Y15

In [20]:
# adjusts all probabiltiies for a given team
# positive adj means team is undervalued by model
# negative adj means team is overvalued by model
def team_adjustment(row, team_id, adj):
    idlist = row['ID'].split('_')
    
    # factor to add or subtract from the win probability, smaller at the tails than at the center and never goes outside of 0 and 1
    if row['Pred'] > 0.5:
        adj_factor = abs(adj) * (1 - row['Pred'])
    else:
        adj_factor = abs(adj) * row['Pred']
    
    # increase probability if given team is TeamID_x and adjustment is positive or given team is TeamID_y and adjustment is negative
    if (team_id == int(idlist[1]) and adj > 0) or (team_id == int(idlist[2]) and adj < 0):
        return row['Pred'] + adj_factor
        
    # decrease probability if given team is TeamID_y and adjustment is positive or given team is TeamID_x and adjustment is negative
    elif (team_id == int(idlist[2]) and adj > 0) or (team_id == int(idlist[1]) and adj < 0):
        return row['Pred'] - adj_factor
        
    else:
        return row['Pred']
    
# look at Vegas odds, and see which teams the model undervalues that make sense (injuries, COVID, other reasons)
# and adjust their win probabilities for all games manually using function above

submission['Pred'] = submission.apply(lambda x: team_adjustment(x, 3124, -0.5), axis = 1) # Baylor
submission['Pred'] = submission.apply(lambda x: team_adjustment(x, 3199, -0.2), axis = 1) # FSU

In [21]:
submission.query('ID ==\'2021_3199_3333\'')

                 ID      Pred  TeamID_x  TeamID_y  SeedDiff  Seed_x  Seed_y
345  2021_3199_3333  0.385923      3199      3333        -1       8       9

In [22]:
# Baylor
print_games(3124)

        Pred OppSeed
61  0.184765     Z01
62  0.194676     W01
56  0.551992     X02
58  0.656646     X01
57  0.872793     Y01
60  0.883743     X03
55  0.906153     W02
32  0.915598     W06
9   0.931203     W03
54  0.931203     Y03
59  0.937271     Y02
14  0.938855     Y04
34  0.941746     Y06
36  0.945756     X12
41  0.951716     Z03
42  0.965711     X06
30  0.966643     W07
38  0.967645     Y08
16  0.969958     Y07
11  0.972951     Y05
23  0.973690     Z06
15  0.974335     Z05
48  0.974557     Z07
1   0.974596     W04
31  0.975469     W08
18  0.978622     Z04
40  0.978744     Z08
33  0.978930     X08
50  0.979568     Y09
24  0.979717     Y10
0   0.980675     X07
29  0.981961     X10
10  0.982043     X05
37  0.982914     W11
51  0.985099     X04
8   0.986048     X09
49  0.987193     W09
21  0.987655     Z10
4   0.988947     Y11
7   0.989140     Z11
45  0.989157     W10
25  0.989206     W05
13  0.992104     Z13
2   0.995611     Y12
35  0.996210     Z09
5   0.996678     Z12
52  0.997504     W13
3   0.997556     X11
44  0.998280     W12
47  0.998357     Y13
19  0.999314     X13
26  1.000000     X15
6   1.000000     W14
27  1.000000     Z14
12  1.000000     Z16
53  1.000000     X14
22  1.000000     X16
20  1.000000     W15
46  1.000000     W16
17  1.000000     Z15
39  1.000000     Y14
28  1.000000     Y16
43  1.000000     Y15

### Kaggle Alterations

Kaggle allows two submission files, so it's best to alter the submission probabilities to maximize your chance of winning. To do this, I will take the most even first round matchup, and assign a probability of 1 in the first submission and a probability of 0 in the second submission. This matchup is guaranteed to happen (as it's the opening round) and I will benefit from the improvement in log loss on that matchup going from a log loss of around 0.69 to a log loss of 0

In [23]:
submission.query('ID ==\'2021_3104_3314\'')

                  ID     Pred  TeamID_x  TeamID_y  SeedDiff  Seed_x  Seed_y
1104  2021_3104_3314  0.48727      3104      3314        -3       7      10

In [24]:
# Assign probabiltiy 1 to the most even first round matchup
# juding from submission_r1 above, the most even first round matchup is...
submission1 = submission.copy()[['ID', 'Pred']]
submission2 = submission.copy()[['ID', 'Pred']]
submission1.iloc[1104, 1] = 1   # Alabama v UNC, give Alabama the full 100%
submission2.iloc[1104, 1] = 0   # Alabama v UNC, give UNC the full 100%

In [25]:
submission1.iloc[1104, :]

ID      2021_3104_3314
Pred                 1
Name: 1104, dtype: object

In [26]:
submission2.iloc[1104, :]

ID      2021_3104_3314
Pred                 0
Name: 1104, dtype: object

In [27]:
# write submissions to csv
submission.to_csv('mydata/womens/altered_probabilities.csv', index = False)
submission1.to_csv('mydata/womens/submission1_prob.csv', index = False)
submission2.to_csv('mydata/womens/submission2_prob.csv', index = False)